body {
  background-color: #0a1930;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.quiz-modules-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px;
}

h1 {
  font-size: 36px;
  color: #fff;
  margin-bottom: 20px;  
}

p {
  font-size: 18px;
  color: orange;
  margin-bottom: 40px;
}

.module-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 600px;
}

.module-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 12px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.module-box:hover {
  transform: scale(1.05);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.beginner {
  background-color: #e0fbfc;
}

.intermediate {
  background-color: #98c1d9;
}

.advanced {
  background-color: #ee6c4d;
}

.quiz-container {
  width: 100%;
  max-width: 600px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.back-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #555;
}

.progress-bar {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  transition: width 0.4s ease;
}

.score-section {
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
  background-color: #a69cac;
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.score-section h2 {
  font-size: 24px;
  margin-bottom: 15px;
}

.score-card p {
  font-size: 18px;
  margin: 5px 0;
  color: white;
}

@media (max-width: 768px) {
  .module-selection {
    flex-direction: column;
  }
  
  .module-box {
    width: 100%;
    max-width: 300px;
  }

  .score-card p {
    font-size: 16px;
  }
}

.pdf-button, .reset-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.pdf-button:hover, .reset-button:hover {
  background-color: orangered;
}