/* Overlay style for the modal */
.auth-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Container for the form */
  .auth-form-container {
    background: #ffffff;
    padding: 2rem;
    width: 720px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    color: #333;
  }
  
  /* .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #888;
  } */
  
  /* Title */
  h2 {
    margin-bottom: 2rem;
    color: #333;
    font-size: 2.5rem;
    font-weight: bold;
  }
  
 /* Input styles */
form input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5rem;
    color: #000 !important; /* Explicitly set input text color to black */
    background-color: #fff; /* Ensure background is white */
  }
  
  form input::placeholder {
    color: #888;
  }
  
  /* Submit button style */
  .submit-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #0a1930;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #2da5ff;
  }
  
  /* Toggle text style */
  .toggle-text {
    margin-top: 1rem;
    color: #666;
  }
  
  .toggle-link {
    color: #0a1930;
    cursor: pointer;
    font-weight: bold;
    margin-left: 5px;
    transition: color 0.3s;
  }
  
  .toggle-link:hover {
    color: #2da5ff;
  }
  